*,
html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: lightgrey;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

li {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2em;
    margin-right: 2em;
    float: left;
}

li.brand {
    float: right
}

.about {
    padding: 5em 5em 2em 2em;
    display: block;
    background-color: cornsilk;
    height: 100vh;
}

.shop {
    display: block;
    background-color: aliceblue;
    height: 100vh;
}